<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Details</title>
</head>
<body>
    <h2>Form Details:</h2>
    <p>
        Transaction ID : <strong>{{transactionId}}</strong><br>
        Customer ID: <strong>{{customerID}}</strong><br>
        Terminal ID: <strong>{{terminalID}}</strong><br>
        Date and Time: <strong>{{datetime}}</strong><br>
        Transaction Amount: <strong>{{transactionAmount}}</strong><br>
        
    </p>
</body>
</html>